{var $robots = noindex}

{block #content}

<h1>Přihlašte se</h1>

<h2><a href="{$fbUrl}">Facebook</a></h2>

<h2><a href="{$twitterUrl}">Twitter</a></h2>

<h2>Mail a heslo</h2>

{control signInForm}


